body {
  background: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


h1{
    font-size: 48px;
    font-weight:bold;
    color:green;
    font-family: 'Times New Roman', Times, serif;
}